<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', { title: '예약 수정' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include('includes/header') %>
    <h1>예약내역 수정하기</h1>
    <form action="/repair/<%=repair._id%>/update" method="POST">
    
        <div class="form-control">
            <label for="date">예약날짜 : </label>
            <input type="date" id="date" name="date" value="<%=repair.date%>" require maxlength="255">
        </div>
        <!-- 달력의 최소범위를 현재날짜+1로 적용 -->
        <script> 
            var today = new Date(); // 현재 날짜 가져오기
            var dd = today.getDate()+1; // 날짜만 가져오기(다음 날부터니까 +1 해줌)
            var mm = today.getMonth() + 1; // 월 가져오기(0부터 시작이라 +1 해줌)
            var yyyy = today.getFullYear(); // 년 가져오기
            if(dd<10) {dd='0'+dd} // 10일 미만이면 앞에 0 추가
            if(mm<10) {mm='0'+mm} // 10월 미만이면 앞에 0 추가
            today = yyyy+'-'+mm+'-'+dd;
            document.getElementById("date").setAttribute("min", today);
         </script>

        <div class="form-control">
            <label for="time">예약시간 : </label>
            <p>예약 가능 시간은 오전 10시부터 오후 6시까지이며, <br>30분 단위입니다.</p>
            <input type="time" id="time" name="time" value="<%=repair.time%>"
             min="10:00" max="18:00" step="1800" require maxlength="255"> 
             <!-- 예약 시간은 10시부터 17시까지 30분 단위 -->
        </div>
        <div class="form-control">
            <label for="repairman">수리기사 : </label>
            <select name="repairman" id="repairman">
                <option value="<%=repair.repairman%>">기존 값 : <%=repair.repairman%></option>
                <option value="김수리">김수리</option>
                <option value="이어컨">이어컨</option>
                <option value="박기사">박기사</option>
            </select>
        </div>

        <div class="form-control">
            <label for="model">품  명 : </label>
            <input type="text" id="model" name="model" value="<%=repair.model%>" require maxlength="255">
        </div>
        <div class="form-control">
            <label for="bought">구입시기 : </label>
            <select name="bought" id="bought">
                <option value="<%=repair.bought%>">기존 값 : <%=repair.bought%></option>
                <option value="1개월 이내">1개월 이내</option>
                <option value="1년 이내">1년 이내</option>
                <option value="1년~2년 이내">1년~2년 이내</option>
                <option value="2년 이상">2년 이상</option>
            </select>
        </div>
        <div class="form-control">
            <label for="reason">예약이유 : </label>
            <select name="reason" id="reason" value="<%=repair.reason%>">
                <option value="<%=repair.reason%>">기존 값 : <%=repair.reason%></option>
                <option value="냉방">냉방</option>
                <option value="난방">난방</option>
                <option value="냄새">냄새</option>
                <option value="누수">누수</option>
                <option value="리모컨/버튼">리모컨/버튼</option>
                <option value="소음/진동">소음/진동</option>
                <option value="설치/연결">설치/연결</option>
            </select>
        </div>

        <div class="form-control">
            <label for="name">예약자명 : </label>
            <input type="text" id="name" name="name" value="<%=repair.name%>" require maxlength="255">
        </div>
        <div class="form-control">
            <label for="phone">전화번호 (010-0000-0000) : </label>
            <input type="text" id="phone" name="phone" value="<%=repair.phone%>" require maxlength="255">
        </div>
        <div class="form-control">
            <label for="address">주  소 : </label>
            <input type="text" id="address" name="address" value="<%=repair.address%>" require maxlength="255">
        </div>

        <button class="btn">저장</button>
    </form>
</body>
</html>